argh
autoflake
black
boto3
celery[redis]
celery-redbeat
ddtrace
django
django-celery-results
djangorestframework
dj-database-url
environs
isort
netifaces
paramiko
psycopg2-binary
python-dotenv
pyyaml
requests
selenium
watchdog
python-json-logger
sentry-sdk
redis
django-redis
kombu
