<!doctype html>
<html>
  <head>
    <title>Site Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <h1><a href="/sites/">Sites</a> > <a href="/sites/{{object.site.uuid}}/checks/">{{object.site.description}}</a> > {{object.uuid}}</h1>
    <p>Site: {{ object.site.description }}</p>
    <p>Time: {{ object.created_at }}</p>
    <p>Current status: {{ object.status }}</p>
    <hr>
    <p>Snapshot: <a href="{{object.content.snapshot_url}}">{{object.content.snapshot_url}}</a>
      <br>
      <img src="{{object.content.snapshot_url}}" border=1 align=center>
    </p>
    <hr>
    <p>Source:<br>
      <pre>{{clean_content}}</pre>
    </p>
  </body>
</html>
